.board {
  width: 600px;
  background-color: #ababab;
  /* border: 1px solid black; */
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
}

.card-box {
  box-sizing: border-box;
  height: 140px;
  min-width: 25%;
  /* background-color: #fff; */
  /* border: 1px solid black; */
  padding: 16px;
}
